<td valign="top" class="bgcolor2">
  <table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
      <tr>
        <td class="middle_top">
          <table width="100%" cellspacing="0" cellpadding="0" border="0">
            <tbody>
              <tr>
                <td colspan="2">
                  <span class="contenttext_1">
                    <a class="bodylink" href="../index.php?cid=3">Home</a>&gt;
                    <span class="bodytext_1">
                      <a class="bodylink" href="gateways.php?left=7">Payment Gateway</a>
                    </span> &gt;
                    <span class="bodytext_1">Configure Payment Gateway</span>
                  </span>
                </td>
              </tr>
              <tr>
                <td width="4%">
                  <img align="bottom" width="30" height="32" border="0" title="Payment Gateway" src="/images/gateway-icn.png">
                </td>
                <td width="96%" valign="top" style="padding-top:2px">
                  <span class="txt_big_red">Configure Payment Gateway</span>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td style="padding:5px;">
          <table width="100%" cellspacing="0" cellpadding="0" border="0">
            <tbody>
              <tr>
                <td class="btm_border"></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>
                  <div id="dvContent">
                  <%= form_for @gateway_configuration,:url=>gateway_update_path(@gateway_configuration.id),:html=>{:id=>'frmaddgs'} ,:action=>"post" do |f| %>
                  
         <!--           <form method="post" name="frmaddgs" id="frmaddgs">-->
                      <table width="100%" cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                          <tr>
                            <td width="70%" valign="middle" colspan="2">
                              <table width="90%" cellspacing="1" cellpadding="0" border="0" class="bgcolor3">
                                <tbody>
                                  <tr>
                                    <td align="right" width="41%" valign="middle" class="cate_listing"> Payment Gateway Name :
                                    </td>
                                    <td width="59%" valign="middle" class="bgcolor4">Paypal
                                      <!--<input name="txtgateway_1" class="txtfield1" id="txtgateway_1" value="" type="text">&nbsp;<span id="txtgateway" class="error">&nbsp;</span>-->
                                    </td>
                                  </tr>
                                  <tr>
                                    <td align="right" width="41%" valign="middle" class="cate_listing">
                                      <span class="mandotry">*</span> Payment Gateway Login ID :
                                    </td>
                                    <td width="59%" valign="middle" class="bgcolor4">
                                      <input type="text" value="<%=@gateway_configuration.gateway_login%>" maxlength="200" id="txtgatewaylogin_1" class="txtfield1" name="gateway_configuration[gateway_login]">&nbsp;
                                      <span class="error" id="txtgatewaylogin">&nbsp;</span>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td align="right" width="41%" valign="middle" class="cate_listing"> Payment Gateway Key :
                                    </td>
                                    <td width="59%" valign="middle" class="bgcolor4">
                                      <input type="text" value="<%=@gateway_configuration.gateway_key%>" maxlength="400" id="txtgatewaykey" class="txtfield1" name="gateway_configuration[gateway_key]">&nbsp;
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                            <td align="left" valign="top">
                            </td>
                          </tr>
                          <tr>
                            <td align="left" valign="top">&nbsp;
                            </td>
                          </tr>
                          <tr>
                            <td align="right" width="27%" valign="top">
                              <input align="right" width="64" type="button" height="25" border="0" onclick="javascript:window.location='<%=gateway_settings_path%>';" id="btncancel" name="btncancel" value="Cancel" class="button">     &nbsp; &nbsp;
                            </td>
                            <td align="left" valign="top">
                               <%= submit_tag 'Submit' ,:class=>"button"  ,:html=>{:align=>"right" ,:width=>"64" ,:height=>"25" ,:border=>"0",:name=>"btngateway"}%>
<!--                              <input align="right" width="64" type="submit" height="25" border="0" id="btngateway" onclick="return validateForms('frmaddgs');" name="btngateway" value="Submit" class="button">-->
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    <% end %>
                    <!--</form> -->
                  </div>
                </td>
              </tr>
              <tr>
                <td class="contenttext">
                  <table width="100%" cellspacing="1" cellpadding="1" border="0">
                    <tbody>
                      <tr>
                        <td width="64%"></td>
                        <td align="right" width="36%"></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</td>
