    <script type="text/javascript">
      function passwordStrength(password){
        var desc = new Array();
        desc[0] = "Very Weak";
        desc[1] = "Weak";
        desc[2] = "Better";
        desc[3] = "Medium";
        desc[4] = "Strong";
        desc[5] = "Strongest";
        var score   = 0;
        //if password bigger than 6 give 1 point
        if (password.length > 6) score++;
        //if password has both lower and uppercase characters give 1 point      
        if ( ( password.match(/[a-z]/) ) && ( password.match(/[A-Z]/) ) ) score++;
        //if password has at least one number give 1 point
        if (password.match(/\d+/)) score++;
        //if password has at least one special caracther give 1 point
        if ( password.match(/.[!,@,#,$,%,^,&,*,?,_,~,-,(,)]/) ) score++;
        //if password bigger than 12 give another 1 point
        if (password.length > 12) score++;
         document.getElementById("passwordDescription").innerHTML = desc[score];
         document.getElementById("passwordStrength").className = "strength" + score;
      }

    </script>
<td valign="top" class="bgcolor2">
  <table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
      <tr>
        <td class="middle_top">
          <table width="100%" cellspacing="0" cellpadding="0" border="0">
            <tbody>
              <tr>
                <td colspan="2">
                  <span class="bodytext_1">
                    <a class="bodylink" href="index.php?cid=3">Home</a> &gt;   Reset Password
                  </span>
                </td>
              </tr>
              <tr>
                <td width="4%">
                  <img align="bottom" width="30" height="30" border="0" title="Reset Password" src="/images/reset_password_big.png">
                </td>
                <td align="left" width="96%" valign="top" style="padding-top:2px">
                  <span class="txt_big_red">Reset Password</span>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td class="tdgap1">
          <table width="100%" cellspacing="0" cellpadding="0" border="0">
            <tbody>
              <tr>
                <td class="tdgap1">
                  <% form_tag(admin_change_password_path(@current_user), :method=>'post',:id=>"frmucr") do %>
                    <table align="left" width="65%" cellspacing="0" cellpadding="0" border="0">
                      <tbody>
                        <tr>
                          <td align="center" class="mandotry" colspan="2">
                            <% if flash[:error_msg] || flash[:info_msg] %>
                              <span class="bolderror"></span>
                              <span class="bolderror" id="error" >
                                <%= flash[:error_msg]?flash[:error_msg]:"" %>
                              </span>
                              <span class="boldinfo">
                                <%= flash[:info_msg]?flash[:info_msg]:"" %>
                              </span>
                              <% end %>
                            <span class="bolderror">                              
                            </span>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="2" class="bgcolor1">
                            <table width="100%" cellspacing="1" cellpadding="2" border="0" class="bgcolor3">
                              <tbody>
                                <tr>
                                  <td align="right" width="35%" valign="top" class="cate_listing">
                                    <span class="mandotry">*</span> Old Password :
                                  </td>
                                  <td width="65%" valign="top" class="bgcolor4">
                                    <%= password_field_tag "old_password","",:class=>"txtfield1",:id=>"txtpwd",:value=>@current_user.password  %>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="right" valign="top" class="cate_listing">
                                    <span class="mandotry">*</span> New Password :
                                  </td>
                                  <td valign="top" class="bgcolor4">                                    
                                    <%= password_field_tag "password","",:class=>"txtfield1",:id=>"txtnpwd",:onkeyup=>"passwordStrength(this.value)"  %> 
                                    <%#*<input type="password" onchange="funshow2('get_ajax_content.php?ajax=CHP',this.value,'showMsg');" id="txtnpwd" class="txtfield1" name="txtnpwd">%>
                                    <span class="bolderror" id="showMsg">                                      
                                    </span>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="right" valign="top" class="cate_listing">
                                    <span class="mandotry"> &nbsp;&nbsp;</span> Password Strength:
                                  </td>
                                  <td valign="center" class="bgcolor4" >    
                                    <div id="passwordStrength" class="strength0"></div> <br>
                                    <div id="passwordDescription">Password not entered</div>
                                    <span class="bolderror" id="showMsg">                                      
                                    </span>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="right" valign="top" class="cate_listing">
                                    <span class="mandotry">*</span> Retype Password:
                                  </td>
                                  <td valign="top" class="bgcolor4">
                                    <%= password_field_tag "re_password","",:class=>"txtfield1",:id=>"txtrpwd"  %>
                                    <%#*<input type="password" id="txtrpwd" class="txtfield1" name="txtrpwd">%>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td align="right" width="35%" valign="middle">
                            <input type="button" onclick="javascript:window.location='index.php?cid=3'" value="Cancel" id="btncancel" class="button" name="btncancel">&nbsp;
                          </td>
                          <td width="65%" valign="middle" height="40">
                            <input type="submit" value="Submit" id="resetpwd" class="button" name="resetpwd">
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</td>