<tr>
  <td height="26" align="center" class="bgcolor4_center">
    <center>
      <input type="checkbox" name="chkdel[]" id="chkdel" value="<%= ticket.id %>" >
    </center>
  </td>
  <td height="26" class="bgcolor4">
    <%= link_to ticket.id,admin_ticket_details_path(ticket),:page=>'new',:class=>'det_link' %>
  </td>
  <td height="26" class="bgcolor4">
    <%= link_to ticket.subject,admin_ticket_details_path(ticket),:class=>'det_link' %>
  </td>
  <td height="26" class="bgcolor4"><%= ticket.ticket_details.count %></td>
  <td height="26" class="bgcolor4"><%= ticket.ticket_details.last ? ticket.ticket_details.last.user.name : ticket.user.name %></td>
  <td height="26" class="bgcolor4">
    <%
      require 'time_diff'
      time_diff_components = Time.diff((ticket.ticket_details.last ?ticket.ticket_details.last.created_at: ticket.created_at ), Time.now)
    %>
    <font color="#FF6600"> <%="#{time_diff_components[:day]}d, #{time_diff_components[:hour]}h, #{time_diff_components[:minute]}m"%> </font>
  </td>
  <td height="26" align="center" class="bgcolor4">    
    <img src="/images/<%= ticket.status_image %>" title="In Progress">
    <span class="Booting"><%= ticket.status %></span>
  </td>
</tr>
