<tr class="bgcolor4">                            
  <td align="left" class="bgcolor4"><a class="det_link" href="<%=reseller_edit_payment_method_path(payment_method)%>"><%= payment_method.id %></a></td>                           
  <td height="26" class="bgcolor4"><%=  payment_method.mask(payment_method.card_num) %></td>
  <td align="center" class="bgcolor4"><%=  payment_method.cc_type %></td>
  <td align="center" class="bgcolor4"><img src="/images/<%= payment_method.status_image %>" title="In Progress"> <%= payment_method.status_message %></td>
</tr>
