<script type="text/javascript" src="/javascripts/validate.js"></script>
<td valign="top" class="bgcolor2">
  <script type="text/javascript">
  function checkCountry(country) {
    if(country == 225) {
        
      document.getElementById('stateid').style.display= "block";
           
    } else {
      document.getElementById('stateid').style.display= "none";         
    }
  }
  </script>
  <table cellspacing="0" cellpadding="0" border="0" width="100%">
    <tbody>
      <tr>
        <td class="middle_top">
          <table cellspacing="0" cellpadding="0" border="0" width="100%">
            <tbody>
              <tr>
                <td colspan="2">
                  <span class="bodytext_1">
                    <a class="bodylink" href="index.php?cid=4&amp;action=UVP">Home</a> 
                    &gt; <a class="bodylink" href="index.php?cid=4&amp;action=UVP&amp;left=0">My Account </a> 
                    &gt; Edit Profile </span>
                </td>
              </tr>
              <tr>
                <td width="44">
                  <img border="0" align="bottom" width="30" height="32" title="Edit Profile" src="../asset/images/icon_edit_client_big.png">
                </td>
                <td width="1265" valign="top" style="padding-top:2px">
                  <span class="txt_big_red">Edit Profile </span>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td class="tdgap1">
          <table cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
            <tbody>
              <tr>
                <td class="tdgap1">
                  <%= form_for @user, :as => :user, :url => reseller_update_path,:html=>{:onsubmit=>"return validateForms('frmusr_edit');",:id=>"frmusr_edit"} do |f| %>

                    <table cellspacing="0" cellpadding="0" border="0" width="80%">
                      <tbody>
                        <tr>
                          <td align="center" colspan="2" class="mandotry">
                            <span class="bolderror"><br></span>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="2" class="bgcolor1">
                            <table cellspacing="1" cellpadding="4" border="0" width="100%" class="bgcolor3">
                              <tbody>
                                <tr>
                                  <td align="right" width="38%" valign="top" class="cate_listing">
                                    <br><span class="mandotry">*</span> Name :
                                  </td>
                                  <td width="65%" valign="top" class="bgcolor4">
                                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                      <tbody>
                                        <tr align="left">
                                          <td width="18%">Title</td>
                                          <td width="33%">First Name</td>
                                          <td width="49%">Last Name</td>
                                        </tr>
                                        <tr align="left">
                                          <td>
                                            <%= select_tag "user[title]", options_for_select([ "Mr.", "Mrs.", "Ms." ]),:class=>'txtdrop',:id=>'cmbstatus' %>
					    <br/>&nbsp;
                                          </td>
                                          <td>
                                            <%= f.text_field :first_name, :id=>'txtfirst_1_3',:class=>'txtfield',:size=>20 %>
					    <br/>&nbsp;
                                            <span class="error" id="txtfirst"></span> 
                                          </td>
                                          <td>
                                            <%= f.text_field :last_name, :id=>'txtlast_1_3',:class=>'txtfield',:size=>20 %>  
		                            <br/>&nbsp;
				            <span class="error" id="txtlast"></span>                   
		                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="right" width="38%" valign="top" class="cate_listing">
                                    <span class="mandotry">*</span> Email :
                                  </td>
                                  <td width="65%" valign="top" class="bgcolor4"> 
                                    <%= f.text_field :email, :class=>"txtfield",:id=>"txtemail_1_2",:size=>20 %>
				    <br/>&nbsp;
				    <span class="error" id="txtemail"></span>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="right" width="38%" valign="top" class="cate_listing">
                                    <span class="mandotry">*</span> Address Line 1 :</td>
                                  <td width="65%" valign="top" class="bgcolor4">   
                                    <%= f.text_field :address,:class=>'txtfield1',:id=>'txtaddr1_1',:size=>20 %>
				    <br/>&nbsp;
				    <span class="error" id="txtaddr1"></span>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="right" width="38%" valign="top" class="cate_listing">
                                    &nbsp;&nbsp;&nbsp;Address Line 2 :
                                  </td>
                                  <td width="65%" valign="top" class="bgcolor4">  
                                    <%= f.text_field :address2,:class=>'txtfield1',:id=>'txtaddr2',:size=>20 %> 
				    <br/>&nbsp;             
                                  </td>
                                </tr>
                                <tr>
                                  <td align="right" width="38%" valign="top" class="cate_listing">
                                    <span class="mandotry">*</span> City :
                                  </td>
                                  <td width="65%" valign="top" class="bgcolor4"> 
                                    <%= f.text_field :city,:class=>'txtfield1',:id=>'txtcity_1_19',:size=>20 %>
 				    <br/>&nbsp;
				    <span class="error" id="txtcity"></span>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="right" width="38%" valign="top" class="cate_listing">
                                    <span class="mandotry">*</span> Country :
                                  </td>
                                  <td width="65%" valign="top" class="bgcolor4">
                                    <select onchange="checkCountry(this.value);" id="cmbcountry" class="txtdrop" name="cmbcountry">
                                      <option value=""> - Select - </option>
                                      <option value="1">Afghanistan</option>
                                      <option value="2">Albania</option>
                                      <option value="3">Algeria</option>
                                      <option value="4">American Samoa</option>
                                      <option value="5">Andorra</option>
                                      <option value="6">Angola</option>
                                      <option value="7">Anguilla</option>
                                      <option value="8">Antarctica</option>
                                      <option value="9">Antigua and Barbuda</option>
                                      <option value="10">Argentina</option>
                                      <option value="11">Armenia</option>
                                      <option value="12">Aruba</option>
                                      <option value="13">Australia</option>
                                      <option value="14">Austria</option>
                                      <option value="15">Azerbaijan</option>
                                      <option value="16">Bahamas</option>
                                      <option value="17">Bahrain</option>
                                      <option value="18">Bangladesh</option>
                                      <option value="19">Barbados</option>
                                      <option value="20">Belarus</option>
                                      <option value="21">Belgium</option>
                                      <option value="22">Belize</option>
                                      <option value="23">Benin</option>
                                      <option value="24">Bermuda</option>
                                      <option value="25">Bhutan</option>
                                      <option value="26">Bolivia</option>
                                      <option value="27">Bosnia and Herzegovina</option>
                                      <option value="28">Botswana</option>
                                      <option value="29">Bouvet Island</option>
                                      <option value="30">Brazil</option>
                                      <option value="31">British Indian Ocean Trtry</option>
                                      <option value="32">Brunei Darussalam</option>
                                      <option value="33">Bulgaria</option>
                                      <option value="34">Burkina Faso</option>
                                      <option value="35">Burundi</option>                          
                                      <option value="36">Cambodia</option>                         
                                      <option value="37">Cameroon</option>                           
                                      <option value="38">Canada</option>                             
                                      <option value="39">Cap Verde</option>                          
                                      <option value="40">Cayman Islands</option>                     
                                      <option value="41">Central African Republic</option>             
                                      <option value="42">Chad</option>                                  
                                      <option value="43">Chile</option>                          
                                      <option value="44">China</option>                        
                                      <option value="45">Christmas Island</option>             
                                      <option value="46">Cocos (Keeling) Islands</option>       
                                      <option value="47">Colombia</option>                        
                                      <option value="48">Comoros</option>                        
                                      <option value="49">Congo, Dem. Rep. of</option>            
                                      <option value="50">Congo, Republic of</option>              
                                      <option value="51">Cook Islands</option>                    
                                      <option value="52">Costa Rica</option>                      
                                      <option value="53">Cote d'Ivoire</option>                    
                                      <option value="54">Croatia/Hrvatska</option>                 
                                      <option value="55">Cuba</option>                             
                                      <option value="56">Cyprus</option>                        
                                      <option value="57">Czech Republic</option>               
                                    </select>                  
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <div style="display:none" id="stateid">
                              <table cellspacing="1" cellpadding="4" border="0" width="100%" class="bgcolor3">
                                <tbody>
                                  <tr>
                                    <td align="right" width="38%" valign="top" class="cate_listing">
                                      <span class="mandotry">*</span> State(US) :</td>
                                    <td width="65%" valign="top" class="bgcolor4"> 
                                      <select id="cmbstate" class="txtdrop" name="cmbstate">
                                        <option value="0"> - Select - </option>      
                                        <option value="1">Alabama</option>        
                                        <option value="2">Alaska</option>           
                                        <option value="3">American Somoa</option>    
                                        <option value="4">Arizona</option>           
                                        <option value="5">Arkansas</option>             
                                        <option value="6">Armed Forces Africa</option>  
                                        <option value="7">Armed Forces Americas</option>    
                                        <option value="8">Armed Forces Pacific</option>   
                                        <option value="9">California</option>
                                      </select>                  
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>	
                            <table cellspacing="1" cellpadding="4" border="0" width="100%" class="bgcolor3">
                              <!--<tr>
                                <td align="right" valign="top" class="cate_listing">&nbsp;&nbsp;&nbsp;Account Type :</td>
                                <td valign="top" class="bgcolor4"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                      <td width="7%" align="left">                              <input type="radio" name="rdaccount" id="radio" value="Business"   "CHECKED" />                          </td>
                                      <td width="93%" align="left">Business Account</td>
                                    </tr>
                                    <tr align="left">
                                      <td>&nbsp;</td>
                                      <td><span>Company Name</span><br />                              
                                        <input name="txtcompany" type="text" class="txtfield1" id="txtcompany" value=""/>                                                                                              </td>
                                    </tr>
                                    <tr >
                                      <td align="left"><input type="radio" name="rdaccount" id="rdaccount" value="Personal"  />
                                        </td>
                                      <td align="left">Personal Account</td>
                                    </tr>
                                </table></td>
                                                    
                              </tr>-->
                              <tbody>
                                <tr>
                                  <td align="right" width="38%" valign="top" class="cate_listing">&nbsp;&nbsp;&nbsp;State Other(other countries) :</td>
                                  <td width="65%" valign="top" class="bgcolor4">      
                                    <%= f.text_field :state_other, :class=>'txtfield1',:id=>'txtstother_3',:size=>20 %>   
				    <br/>&nbsp;
				    <span class="error" id="txtstother"></span>       
                                  </td>
                                </tr>                    
                                <tr>
                                  <td align="right" width="38%" valign="top" class="cate_listing">
                                    <span class="mandotry">*</span> Postal Code :</td>
                                  <td width="65%" valign="top" class="bgcolor4">           
                                    <%= f.text_field :postal_code, :class=>'txtfield1', :id=>'txtpost_6',:maxlength=>10 %>
				    <br/>&nbsp;
				    <span class="error" id="txtpost"></span>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="right" width="38%" valign="top" class="cate_listing">
                                    <br><span class="mandotry">*</span> Phone :</td>
                                  <td width="65%" valign="top" class="bgcolor4">
                                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                      <tbody>
                                        <tr>
                                          <td width="28%" class="bodytext">Country Code</td>
                                          <td align="left" width="24%">Area Code</td>
                                          <td align="left" width="48%">Number</td>
                                        </tr>
                                        <tr>
                                          <td>                            +
                                            <%= f.text_field :phccode,:class=>'txtfield',:id=>'txtcc_1_4',:maxlength=>5 %>
					    <br/>&nbsp;
					    <span class="error" id="txtcc"></span>       
                                          </td>
                                          <td>
                                            <%= f.text_field :phacode,:class=>'txtfield',:id=>'txtac_1_4',:maxlength=>8 %>
					    <br/>&nbsp;
					    <span class="error" id="txtac"></span>       
                                          </td>
                                          <td>
                                            <%= f.text_field :phnumber,:class=>'txtfield',:id=>'txtnumber_1_4',:size=>20,:maxlength=>10 %>
					    <br/>&nbsp;
					    <span class="error" id="txtnumber"></span>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="right" width="38%" valign="top" class="cate_listing"><br>&nbsp;&nbsp;&nbsp;Mobile :</td>
                                  <td width="65%" valign="top" class="bgcolor4"><table cellspacing="0" cellpadding="0" border="0" width="100%">
                                      <tbody>
                                        <tr>
                                          <td width="28%" class="bodytext">Country Code</td>
                                          <td align="left" width="24%">Area Code</td>
                                          <td align="left" width="48%">Number</td>
                                        </tr>
                                        <tr>
                                          <td>                            +
                                            <%= f.text_field :mccode,:maxlength=>5,:class=>'txtfield',:id=>'txtmcc_4' %>
					    <br/>&nbsp;
					    <span class="error" id="txtmcc"></span>
                                          </td>
                                          <td>
                                            <%= f.text_field :macode,:maxlength=>8,:class=>'txtfield',:id=>'txtmac_4' %>
					    <br/>&nbsp;
					    <span class="error" id="txtmac"></span>
                                          </td>
                                          <td>
                                            <%= f.text_field :mnumber,:maxlength=>10,:class=>'txtfield' ,:id=>'txtmnumber_4',:size=>20 %>
					    <br/>&nbsp;
					    <span class="error" id="txtmnumber"></span>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="right" width="38%" valign="top" class="cate_listing"><br>&nbsp;&nbsp;&nbsp;Fax :</td>
                                  <td width="65%" valign="top" class="bgcolor4">
                                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                      <tbody>
                                        <tr>
                                          <td width="28%" class="bodytext">Country Code</td>
                                          <td align="left" width="24%">Area Code</td>
                                          <td width="48%">Number</td>
                                        </tr>
                                        <tr>
                                          <td>                            +
                                             <%= f.text_field :fccode,:maxlength=>5,:class=>'txtfield',:id=>'txtfcc_4'%>
					    <br/>&nbsp;
					    <span class="error" id="txtfcc"></span>
                                          </td>
                                          <td>
                                            <%= f.text_field :facode,:maxlength=>8,:class=>'txtfield',:id=>'txtfac_4'%> 
					    <br/>&nbsp;
					    <span class="error" id="txtfac"></span>
                                          </td>
                                          <td>
                                            <%= f.text_field :fnumber,:maxlength=>10,:class=>'txtfield',:id=>'txtfnumber',:size=>20 %> 
					    <br/>&nbsp;
					    <span class="error" id="txtfnumber"></span>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr> 
                        <tr valign="middle">
                          <td align="right" width="38%" height="40">
                            <input type="button" onclick="history.back()" value="Cancel" id="btncancel" class="button" name="btncancel">&nbsp;
                          </td>
                          <td width="62%" height="40">
                            <%= f.submit "Submit",:class=>'button',:id=>'adduser',:name=>'adduser' %>       
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  <% end %>  
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</td>
