<tr class="bgcolor4">                            
  <td align="left" class="bgcolor4"><a class="det_link" href="<%= reseller_subscriptions_details_path(subscription) %>"><%= subscription.id %></a></td>                           
  <td height="26" class="bgcolor4"><%= subscription.name %></td>
  <td align="left" class="bgcolor4">
    <img title="Stopped" src="/images/offline.png"> <span class="Stopped"><%= subscription.status %></span>
  </td>                          
  <td align="center" class="bgcolor4"><%= subscription.plan.title %></td>
  <td align="center" class="bgcolor4"><%= subscription.end_date %></td>
</tr>
