<tr>
  <td height="26" align="center" class="bgcolor4_center">
    <center>
      <input type="checkbox" name="chkdel[]" id="chkdel" value="1">
    </center>
  </td>
  <td height="26" class="bgcolor4">
    <%= link_to ticket.id,reseller_ticket_details_path(ticket),:page=>'new',:class=>'det_link' %>
  </td>
  <td height="26" class="bgcolor4">
    <%= link_to ticket.subject,reseller_ticket_details_path(ticket),:class=>'det_link' %>
  </td>
  <td height="26" class="bgcolor4"><%= ticket.replies %></td>
  <td height="26" class="bgcolor4">Deepak sharma</td>
  <td height="26" class="bgcolor4">
    <font color="#FF6600">00h49m22s</font>
  </td>
  <td height="26" align="center" class="bgcolor4">
    
    <img src="/images/<%= ticket.status_image %>" title="In Progress">
    <span class="Booting"><%= ticket.status %></span>
  </td>
</tr>
