<td valign="top" class="bgcolor2">
  <script type="text/javascript" language="javascript">
  function checkdata() {
    var txtnpwd_1 = document.frmucr.txtnpwd_1.value;
    if(txtnpwd_1.length < 6){
        document.getElementById('error').innerHTML="Password should be 6 character long.";
        return false;
      } else {
        document.getElementById('error').innerHTML="";
      }
      return true;
    }
  </script> 
  <table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
      <tr>
        <td class="middle_top">
          <table width="100%" cellspacing="0" cellpadding="0" border="0">
            <tbody>
              <tr>
                <td colspan="2">
                  <span class="bodytext_1">
                    <a class="bodylink" href="index.php?cid=4&amp;action=UVP">Home</a> 
                    &gt; <a class="bodylink" href="index.php?cid=4&amp;action=UVP&amp;left=0">My Account </a> 
                    &gt; Reset Password 
                  </span>
                </td>
              </tr>
              <tr>
                <td width="4%">
                  <%= image_tag("reset_password_big.png",:height=>30,:width=>30,:border=>30,:align=>"bottom",:title=>"Reset Password") %>
                  <img width="30" height="30" border="0" align="bottom" title="Reset Password" src="../asset/images/reset_password_big.png">
                </td>
                <td width="96%" valign="top" align="left" style="padding-top:2px">
                  <span class="txt_big_red">Reset Password</span>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td class="tdgap1">
          <table width="100%" cellspacing="0" cellpadding="0" border="0">
            <tbody>
              <tr>
                <td class="tdgap1">
                  <% form_tag(reseller_new_password_path, :method=>'post',:onsubmit=>"return checkdata();",:id=>"frmucr") do %>
                  <%#*<form onsubmit="return checkdata();" method="post" id="frmucr" name="frmucr" action="index.php?cid=4&amp;action=URP&amp;left=0">%>
                    <table width="50%" cellspacing="0" cellpadding="0" border="0" align="left">
                      <tbody>
                        <% if flash[:error_msg] || flash[:info_msg] %>
                        <tr>
                          <td align="center" class="mandotry" colspan="2">
                            <span class="bolderror"></span>
                            <span class="bolderror" id="error" >
                              <%= flash[:error_msg]?flash[:error_msg]:"" %>
                            </span>
                            <span class="boldinfo">
                              <%= flash[:info_msg]?flash[:info_msg]:"" %>
                            </span>
                          </td>
                        </tr>
                        <% end %>
                        <tr>
                          <td colspan="2" class="bgcolor1">
                            <table width="100%" cellspacing="1" cellpadding="2" border="0" class="bgcolor3">

                              <!--      <tr>
                                      <td align="right" valign="top" class="cate_listing"><span class="mandotry">*</span> Old Password :</td>
                                      <td valign="top" class="bgcolor4"><input name="txtpwd_1" type="password" class="txtfield1" id="txtpwd_1" value="" />
                    </td>
                                    </tr>
                              -->
                              <tbody>
                                <tr>
                                  <td valign="top" align="right" class="cate_listing">
                                    <span class="mandotry">*</span> New Password :</td>
                                  <td valign="top" class="bgcolor4">
                                    <%= password_field_tag "password","",:class=>"txtfield1",:id=>"txtnpwd_1"  %>
                                    <%#*<input type="password" id="txtnpwd_1" class="txtfield1" name="txtnpwd_1">%>
                                  </td>
                                </tr>
                                <tr>
                                  <td valign="top" align="right" class="cate_listing">
                                    <span class="mandotry">*</span> Retype Password:</td>
                                  <td valign="top" class="bgcolor4">  
                                    <%= password_field_tag "re_password","",:class=>"txtfield1",:id=>"txtrpwd_1" %>
                                    <%#*<input type="password" id="txtrpwd_1" class="txtfield1" name="txtrpwd_1">%> 
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td width="40%" valign="middle" align="right">
                            <%= submit_tag("Cancel", { :id => 'btncancel', :type => "button",:class=>"button",:name=>"btncancel",:onclick=>"history.back()" }) %>&nbsp;&nbsp;
                            <%#*<input type="button" onclick="history.back()" value="Cancel" id="btncancel" class="button" name="btncancel">&nbsp;%>
                          </td>
                          <td width="60%" valign="middle" height="40">
                            <%= submit_tag "Submit",{:value=>"Submit",:id=>"resetpwd",:class=>"button",:name=>"resetpassword"}  %>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </form>
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</td>
