<script type="text/javascript">
function check()
{
	if(!validateForms('frmemail'))
	{
		document.getElementById('err').innerHTML="";
		return false;
	}
	else 
		return true;
}
</script>
<%= form_for "forgot_password",:html => {:onsubmit=>"return check();"},:id=>'frmemail' do |f| %>
<%# form_tag(:controller => "reseller", :action => "forgot_password", :method => "post",:onsubmit=>'return check()',:id=>'frmemail') %>
  <table cellspacing="0" cellpadding="0" border="0" align="center" width="375">
    <tbody>
      <tr>
        <td>
          <%= image_tag("login_top.gif",:width=>375,:height=>14,:title=>"login") %>
        </td>
      </tr>
      <tr>
        <td class="login_bg">
          <table cellspacing="2" cellpadding="2" border="0" width="100%">
            <tbody>
              <tr>
                <td align="center" width="100%" colspan="2">
                  <span id="err" class="bolderror"></span>
                </td>
              </tr>
              <tr>
                <td width="35%" colspan="2" class="bodytext_1"> 
                  Enter your e-mail address here. You will receive an email with the authorization code required to change your password.
                </td>                
              </tr>                
              <tr>
                <td align="right" width="35%" valign="top" class="bodytextB">Email Address :</td>
                <td width="65%">
                  <label>
                    <%= f.text_field "forgot_email",:class=>'txtfield1',:id=>'email_1_2',:name=>"email_1_2"%>
                    <br>
                    <span class="error" id="email">                      
                    </span>
                  </label>         
                </td>
              </tr>                               
              <tr>
                <td align="left" width="35%">
                  <input type="button" onclick="window.document.location='<%= reseller_login_path %>';" value="cancel" id="cancel" class="button_log" name="cancel">
                </td>
                <td align="right" width="65%">
                  <input type="submit" value="send" id="sendmail" class="button_log" name="sendmail">
                  <br>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <%= image_tag("login_btm.gif",:width=>375,:height=>14,:title=>"login") %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>
