<td valign="top" class="bgcolor2"><link type="text/css" href="asset/css/style.css" rel="stylesheet">
  <link type="text/css" href="../asset/css/masternew.css" rel="stylesheet">
  <script src="includes/js/jquery.js" type="text/javascript"></script>
  <script src="includes/js/easySlider1.5.js" type="text/javascript"></script>
  <!--[if lt IE 7.]>
  <script defer type="text/javascript" src="includes/js/pngfix.js"></script>
  <![endif]-->
  <style type="text/css">
    .text {font:bold 12px Arial; font-weight:bold; color:#47494b; padding-left:20px;}
  </style>
  <script src="includes/js/ajax.js" type="text/javascript"></script>
  <script src="includes/js/common.js" type="text/javascript"></script>
  <script src="includes/js/validate.js" type="text/javascript"></script>
  <script src="includes/js/pngfix.js" type="text/javascript"></script>
  <form method="post" id="frmpay" name="frmpay" action="#" onsubmit="return false">
    <table cellspacing="0" cellpadding="0" border="0" width="100%">
      <tbody>
        <tr>
          <td class="middle_top">
            <table cellspacing="0" cellpadding="0" border="0" width="100%">
              <tbody>
                <tr>
                  <td colspan="2">
                    <span class="bodytext_1">
                      <a class="bodylink" href="index.php?cid=4&amp;action=UVP">Home</a> 
                      &gt;<a class="bodylink" href="index.php?cid=36&amp;action=RUP&amp;left=1">  
                        License Manager</a>
                      &gt; Upgrade Plan
                    </span>
                  </td>
                </tr>
                <tr>
                  <td width="44">
                    <img border="0" align="bottom" width="30" height="32" title="Upgrade License" src="/images/icon_hosting_plan.png"></td>
                  <td width="1265" valign="top" style="padding-top:2px"><span class="txt_big_red">Upgrade Plan</span></td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td class="tdgap1">
            <table cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
              <tbody>
                <tr>
                  <td class="tdgap1">
                    <table cellspacing="0" cellpadding="0" border="0" width="80%">
                      <tbody>
                        <tr>
                          <td align="center" colspan="2" class="mandotry">&nbsp;<!--<span class="bolderror">#ERROR#</span>--></td>
                        </tr>
                        <tr>
                          <td colspan="2">
                            <table cellspacing="1" cellpadding="4" border="0" width="100%" class="cate_listing">
                              <tbody>
                                <tr>
                                  <td align="left" width="42%" class="graybg2"><%=@plan_title%></td>
                                  <td bgcolor="#ffffff" align="left" width="29%" class="grayborder">$<%=@plan_billing_rate%>  / <%=@plan_period%> </td>
                                  <td bgcolor="#ffffff" align="left" width="29%" class="grayborder"><%=@no_of_vps%> VPS</td>
                                </tr>
                                <tr>
                                  <td align="left" class="graybg1"><strong>Total Amount</strong></td>
                                  <td bgcolor="#ffffff" align="left" class="grayborder">$<%=@plan_billing_rate%>  / <%=@plan_period%></td>
                                  <td bgcolor="#ffffff" align="left" width="78%" class="grayborder"><%=@no_of_vps%> VPS</td>
                                </tr>
                                <tr>
                                  <td bgcolor="#ffffff" align="right" width="80%" valign="bottom" height="25" colspan="2">
                                    &nbsp;<strong>
                                      <a onlick="window.parent.location.href='index.php?left=1&amp;new=1&amp;cid=36&amp;action=RPC&amp;id=MQ==&amp;rid=MQ=='" class="blk_bt1" href="#">
                                        <span>Bluepay</span>
                                      </a>
                                    </strong>
                                  </td>
                                  <td bgcolor="#ffffff" align="left" width="20%" valign="bottom">
                                    &nbsp;
                                    <input border="0" width="113" type="image" height="26" value="Continue" alt="PayPal - The safer, easier way to pay online" src="/images/btn_subscribe_LG.jpeg" name="btnsubmitpaypal">
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td valign="top">&nbsp;</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>            
          </td>
        </tr>
      </tbody>
    </table>
  </form>  
</td>
