<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Vhpanel</title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :defaults %>
    <script type="text/javascript">
      document.railslft=<%= params[:left]?params[:left]:0 %>
    </script>
    <%= csrf_meta_tag %>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Welcome to VMComplete</title>
    <%= javascript_include_tag 'combine.js' %>
    <%= javascript_include_tag 'left_menu.js' %>
    <%= javascript_include_tag 'validate.js' %>
    <script type="text/javascript">
      var show_path = 'http://<%= request.host_with_port %>/images/search_show.png';
      var hide_path = 'http://<%= request.host_with_port %>/images/search_hide.png';
    </script>
    <%= javascript_include_tag 'common.js' %>
    <%= javascript_include_tag 'ajax.js' %>
    <%= javascript_include_tag 'pngfix.js' %>
    <%= javascript_include_tag 'tabbed_pages.js' %>
    
    <link rel="stylesheet" href="/stylesheets/tabbed_pages.css" type="text/css" />
  </head>
  <body> 
   <%= params.to_s %>
    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td valign="top">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td align="left" valign="top" class="header">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="220" height="75" align="center" valign="top">
                      <%= image_tag("logo.jpg") %>
                    </td>
                    <td height="75" valign="bottom" style="padding:0px 18px 0px 50px;">
                      <table width="100%" border="0" align="left" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="290" align="left">&nbsp;</td>
                          <td align="right" valign="bottom"><span class="txt_big_red">Welcome deepak@idifysolutions.com</span></td>
                        </tr>

                        <tr>
                          <td align="left">&nbsp;</td>
                          <td align="right" valign="bottom" width="397">
                            <%= link_to(image_tag("btn_logout.gif",:title=>"Logout",:width=>"139",:height=>'35',:border=>0),logout_path) %>
                          </td>
                        </tr>
                        <tr>
                          <td height="2" colspan="2" align="left">
                            <%= image_tag('trans.gif',:width=>10,:height=>10) %>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td align="left" valign="top" class="middle">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="236" valign="top">
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td height="16" valign="top" class="lefttop">
                            <%= image_tag("left_top.gif",:width=>236,:height=>16) %>
                          </td>
                        </tr>
                        <tr>
                          <td valign="top" class="leftnav">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td class="cate_top">
                                  <%= link_to('HOME',reseller_index_path,:class=>'txt_big_red') %>
                                </td>
                              </tr>
                              <tr>
                                <td class="tdgap">
                                  <table width="100%"  border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                      <td class="tdgap">
                                        <div id="vertical_container" class="content_width">
<%# admin menu start %>
                                          <h1 class="accordion_toggle">CLIENT MANAGER</h1>
                                          <div id="content_width" class="accordion_content">
                                            <table width="90%" border="0" cellspacing="0" cellpadding="0">
                                              <tr>
                                                <td class="cate_border">
                                                  <%= image_tag("icon_view_vm.png",:width=>16,:height=>20,:title=>"View Clients")  %>
                                                  <span class="left_nav">
                                                    <%= link_to "View All Clients", "#" %>
                                                  </span>
                                                </td>
                                              </tr>
                                              <tr>
                                                <td class="cate_border">
                                                  <%= image_tag("icon_view_vm.png",:width=>16,:height=>20,:title=>"Add New Client")  %>
                                                  <span class="left_nav">
                                                    <%= link_to "Add a New Client", "#" %>
                                                  </span>
                                                </td>
                                              </tr>
                                              <tr>
                                                <td class="cate_border">
                                                  <%= image_tag("icon_view_vm.png",:width=>16,:height=>20,:title=>"Subscriptions")  %>
                                                  <span class="left_nav">
                                                    <%= link_to "Subscriptions", "#" %>
                                                  </span>
                                                </td>
                                              </tr>
                                              <tr>
                                                <td class="cate_border">
                                                  <%= image_tag("icon_view_vm.png",:width=>16,:height=>20,:title=>"Grace Period Settings")  %>
                                                  <span class="left_nav">
                                                    <%= link_to "Grace Period Settings", "#" %>
                                                  </span>
                                                </td>
                                              </tr>
                                              <tr>
                                                <td class="cate_border">
                                                  <%= image_tag("icon_view_vm.png",:width=>16,:height=>20,:title=>"Termination Request")  %>
                                                  <span class="left_nav">
                                                    <%= link_to "Termination Request", "#" %>
                                                  </span>
                                                </td>
                                              </tr>
                                            </table>
                                          </div>

                                          <h1 class="accordion_toggle">SERVER MANAGER</h1>

                                          <div id="content_width" class="accordion_content">
                                            <table width="90%" border="0" cellspacing="0" cellpadding="0">
                                              <tr>
                                                <td class="cate_border">
                                                  <%= image_tag("icon_view_vm.png",:width=>16,:height=>20,:title=>"View All Servers")  %>
                                                  <span class="left_nav">
                                                    <%= link_to "View All Servers", "#" %>
                                                  </span>
                                                </td>
                                              </tr>
                                              <tr>
                                                <td class="cate_border">
                                                  <%= image_tag("icon_view_vm.png",:width=>16,:height=>20,:title=>"Add New Server")  %>
                                                  <span class="left_nav">
                                                    <%= link_to "Add a New Server", "#" %>
                                                  </span>
                                                </td>
                                              </tr>
                                              <tr>
                                                <td class="cate_border">
                                                  <%= image_tag("icon_view_vm.png",:width=>16,:height=>20,:title=>"View VM's on Server")  %>
                                                  <span class="left_nav">
                                                    <%= link_to "View VM's on a Server", "#" %>
                                                  </span>
                                                </td>
                                              </tr>
                                              <tr>
                                                <td class="cate_border">
                                                  <%= image_tag("icon_view_vm.png",:width=>16,:height=>20,:title=>"Device Management")  %>
                                                  <span class="left_nav">
                                                    <%= link_to "Device Management", "#" %>
                                                  </span>
                                                </td>
                                              </tr>
                                              <tr>
                                                <td class="cate_border">
                                                  <%= image_tag("icon_view_vm.png",:width=>16,:height=>20,:title=>"Template Management")  %>
                                                  <span class="left_nav">
                                                    <%= link_to "Template Management", "#" %>
                                                  </span>
                                                </td>
                                              </tr>
                                              <tr>
                                                <td class="cate_border">
                                                  <%= image_tag("icon_view_vm.png",:width=>16,:height=>20,:title=>"Network Management")  %>
                                                  <span class="left_nav">
                                                    <%= link_to "Network Management", "#" %>
                                                  </span>
                                                  <ul>
                                                    <li class="left_nav">
                                                      <%= link_to "IP Manager", "#" %>
                                                    </li>
                                                    <li class="left_nav">
                                                      <%= link_to "Blocked IP", "#" %>
                                                    </li>
                                                    <li class="left_nav">
                                                      <%= link_to "Resolver Management", "# "%>
                                                    </li>
                                                  </ul>
                                                </td>
                                              </tr>
                                              <tr>
                                                <td class="cate_border">
                                                  <%= image_tag("icon_view_vm.png",:width=>16,:height=>20,:title=>"Reset Password")  %>
                                                  <span class="left_nav">
                                                    <%= link_to "Reset Password", "#" %>
                                                  </span>
                                                </td>
                                              </tr>
                                            </table>
                                          </div>

                                          <h1 class="accordion_toggle">VM MANAGER</h1>
                                          <div id="content_width" class="accordion_content">
                                            <table width="90%" border="0" cellspacing="0" cellpadding="0">
                                              <tr>
                                                <td class="cate_border">
                                                  <%= image_tag("icon_view_vm.png",:width=>16,:height=>20,:title=>"View All VM's")  %>
                                                  <span class="left_nav">
                                                    <%= link_to "View All VM's", "#" %>
                                                  </span>
                                                </td>
                                              </tr>
                                              <tr>
                                                <td class="cate_border">
                                                  <%= image_tag("icon_view_vm.png",:width=>16,:height=>20,:title=>"Add New VM")  %>
                                                  <span class="left_nav">
                                                    <%= link_to "Add a New VM", "#" %>
                                                  </span>
                                                </td>
                                              </tr>
                                            </table>
                                          </div>

                                          <h1 class="accordion_toggle">BILLING MANAGER</h1>
                                          <div id="content_width" class="accordion_content">
                                            <table width="90%" border="0" cellspacing="0" cellpadding="0">
                                              <tr>
                                                <td class="cate_border">
                                                  <%= image_tag("icon_view_vm.png",:width=>16,:height=>20,:title=>"Hosting Plans")  %>
                                                  <span class="left_nav">
                                                    <%= link_to "Hosting Plans", "#" %>
                                                  </span>
                                                </td>
                                              </tr>
                                              <tr>
                                                <td class="cate_border">
                                                  <%= image_tag("icon_view_vm.png",:width=>16,:height=>20,:title=>"Receivables")  %>
                                                  <span class="left_nav">
                                                    <%= link_to "Receivables", "#" %>
                                                  </span>
                                                </td>
                                              </tr>
                                            </table>
                                          </div>

                                          <h1 class="accordion_toggle">LOG MANAGER</h1>
                                          <div id="content_width" class="accordion_content">
                                            <table width="90%" border="0" cellspacing="0" cellpadding="0">
                                              <tr>
                                                <td class="cate_border">
                                                  <%= image_tag("icon_view_vm.png",:width=>16,:height=>20,:title=>"Jobs Queue")  %>
                                                  <span class="left_nav">
                                                    <%= link_to "Jobs Queue", "#" %>
                                                  </span>
                                                  <ul>
                                                    <li class="left_nav">
                                                      <%= link_to "Completed Logs", "#" %>
                                                    </li>
                                                    <li class="left_nav">
                                                      <%= link_to "Action Logs", "#" %>
                                                    </li>
                                                    <li class="left_nav">
                                                      <%= link_to "Error Logs", "#" %>
                                                    </li>
                                                  </ul>
                                                </td>
                                              </tr>
                                              <tr>
                                                <td class="cate_border">
                                                  <%= image_tag("icon_view_vm.png",:width=>16,:height=>20,:title=>"Long Queue")  %>
                                                  <span class="left_nav">
                                                    <%= link_to "Long Queue", "#" %>
                                                  </span>
                                                  <ul>
                                                    <li class="left_nav">
                                                      <%= link_to "Completed Logs", "#" %>
                                                    </li>
                                                    <li class="left_nav">
                                                      <%= link_to "Action Logs", "#" %>
                                                    </li>
                                                    <li class="left_nav">
                                                      <%= link_to "Error Logs", "#" %>
                                                    </li>
                                                  </ul>
                                                </td>
                                              </tr>
                                            </table>
                                          </div>

                                          <h1 class="accordion_toggle">COMMERCE MANAGER</h1>
                                          <div id="content_width" class="accordion_content">
                                            <table width="90%" border="0" cellspacing="0" cellpadding="0">
                                              <tr>
                                                <td class="cate_border">
                                                  <%= image_tag("icon_view_vm.png",:width=>16,:height=>20,:title=>"Anti-Fraud Checklist")  %>
                                                  <span class="left_nav">
                                                    <%= link_to "Anti-Fraud Checklist", "#" %>
                                                  </span>
                                                </td>
                                              </tr>
                                              <tr>
                                                <td class="cate_border">
                                                  <%= image_tag("icon_view_vm.png",:width=>16,:height=>20,:title=>"Gateway Settings")  %>
                                                  <span class="left_nav">
                                                    <%= link_to "Gateway Settings", "#" %>
                                                  </span>
                                                </td>
                                              </tr>
                                              <tr>
                                                <td class="cate_border">
                                                  <%= image_tag("icon_view_vm.png",:width=>16,:height=>20,:title=>"Fraud Score")  %>
                                                  <span class="left_nav">
                                                    <%= link_to "Fraud Score", "#" %>
                                                  </span>
                                                </td>
                                              </tr>
                                            </table>
                                          </div>

                                          <h1 class="accordion_toggle">SETTINGS</h1>
                                          <div id="content_width" class="accordion_content">
                                            <table width="90%" border="0" cellspacing="0" cellpadding="0">
                                              <tr>
                                                <td class="cate_border">
                                                  <%= image_tag("icon_view_vm.png",:width=>16,:height=>20,:title=>"Reset Password")  %>
                                                  <span class="left_nav">
                                                    <%= link_to "Reset Password", "#" %>
                                                  </span>
                                                </td>
                                              </tr>
                                            </table>
                                          </div>

                                          <h1 class="accordion_toggle">TICKET MANAGER</h1>
                                          <div id="content_width" class="accordion_content">
                                            <table width="90%" border="0" cellspacing="0" cellpadding="0">
                                              <tr>
                                                <td class="cate_border">
                                                  <%= image_tag("icon_view_vm.png",:width=>16,:height=>20,:title=>"Support")  %>
                                                  <span class="left_nav">
                                                    <%= link_to "Support", "#" %>
                                                  </span>
                                                  <ul>
                                                    <li class="left_nav">
                                                      <%= link_to "Open", "#" %>
                                                    </li>
                                                    <li class="left_nav">
                                                      <%= link_to "On Hold","#" %>
                                                    </li>
                                                    <li class="left_nav">
                                                      <%= link_to "Closed", "#" %>
                                                    </li>
                                                    <li class="left_nav">
                                                      <%= link_to "In-Progress", "#" %>
                                                    </li>
                                                  </ul>
                                                </td>
                                              </tr>
                                              <tr>
                                                <td class="cate_border">
                                                  <%= image_tag("icon_view_vm.png",:width=>16,:height=>20,:title=>"Billing")  %>
                                                  <span class="left_nav">
                                                    <%= link_to "Billing", "#" %>
                                                  </span>
                                                  <ul>
                                                    <li class="left_nav">
                                                      <%= link_to "Open", "#" %>
                                                    </li>
                                                    <li class="left_nav">
                                                      <%= link_to "On Hold", "#" %>
                                                    </li>
                                                    <li class="left_nav">
                                                      <%= link_to "Closed", "#" %>
                                                    </li>
                                                    <li class="left_nav">
                                                      <%= link_to "In-Progress", "#" %>
                                                    </li>
                                                  </ul>
                                                </td>
                                              </tr>
                                            </table>
                                          </div>

                                          <h1 class="accordion_toggle">HELP</h1>
                                          <div id="content_width" class="accordion_content">
                                            <table width="90%" border="0" cellspacing="0" cellpadding="0">
                                              <tr>
                                                <td class="cate_border">
                                                  <%= image_tag("icon_view_vm.png",:width=>16,:height=>20,:title=>"Admin User Guide")  %>
                                                  <span class="left_nav">
                                                    <%= link_to "Admin User Guide", "#" %>
                                                  </span>>
                                                </td>
                                              </tr>
                                              <tr>
                                                <td class="cate_border">
                                                  <%= image_tag("icon_view_vm.png",:width=>16,:height=>20,:title=>"Installation Guide")  %>
                                                  <span class="left_nav">
                                                    <%= link_to "Installation Guide", "#" %>
                                                  </span>
                                                </td>
                                              </tr>
                                            </table>
                                          </div>

                                          <%= link_to logout_path,:style=>'text-decoration:none' do %>
                                            <h1 class="accordion_logout">LOGOUT</h1>
                                          <%  end %>
                                          <div id="vertical_nested_container">                     
                                          </div>
<%# admin menu ends %>
                                        </div>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td valign="top" class="leftbtm">
                            <%= image_tag('left_bottom.gif',:width=>'236',:height=>'16') %>
                          </td>
                        </tr>
                      </table>
                    </td>
                    <td valign="top" class="bgcolor2">
                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="11" valign="top"> </td>
                          <%= yield %>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
